@model BackOffice.Areas.LykkePay.Models.InvoicesListViewModel

<ul id="tabs" class="nav nav-tabs">
    <li id="invoices"><a data-toggle="tab" onclick="selectTab(this.parentNode.id, '@Url.Action("InvoicesPage")')">Invoices</a></li>
</ul>

<div id="InvoicesPage" style="margin: 10px"></div>

<script>
    function selectTab(tabId, url) {
        if ($('#' + tabId).hasClass('active'))
            return;
        $('#tabs').children('li').each(function() {
            (this.id === tabId) && $('#' + this.id).addClass('active') || $('#' + this.id).removeClass('active');
        });
        requests.doRequest({ url: url, divResult: '#InvoicesPage', params: { selectedMerchant: '@Model.SelectedMerchant'}, });
    }
    selectTab('invoices', '@Url.Action("InvoicesPage")');
</script>