@model BackOffice.Areas.LykkePay.Models.MerchantsListViewModel
<div>
    <h1>Merchants</h1>
    <hr />
    <form id="frmMerchantsPage">
        @Html.HiddenFor(x => x.CurrentPage)
        @Html.HiddenFor(x => x.PageSize)
        <div class="row">
            <div class="col-md-1">
                @if (Model.IsFullAccess)
                {
                    <a class="btn btn btn-success"
                       onclick="ui.showDialog('@Url.Action("AddOrEditMerchantDialog")');">
                        Add
                    </a>
                }
            </div>
        </div>
    </form>
    <div id="merchantsList"></div>
</div>

<script>
        $(function () {
            requests.doRequest({ url: '@Url.Action("MerchantsList")', formId: '#frmMerchantsPage', divResult: '#merchantsList' });
        });
</script>