@model BackOffice.Areas.LykkePay.Models.DeleteMerchantDialogViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}

<form id="frmDeleteMerchant">

    <input style="display: none" name="Id" value="@Model.Id" />
    <h3>@Model.Name</h3>

</form>

@Html.RenderSaveCancelButtonPair(Url.Action("DeleteMerchant"), "#frmDeleteMerchant", "Confirm")
