@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.AddAssetsByMerchantDialogViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}

<form id="frmAddAssetByMerchant" autocomplete="off">
    @Html.HiddenFor(x => x.MerchantId)
    <div id="errorMessage"></div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("PaymentAssets", "PaymentAssets", Model.PaymentAssets)
    </div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("SettlementAssets", "SettlementAssets", Model.SettlementAssets)
    </div>
</form>

@Html.RenderSaveCancelButtonPair(Url.Action("AddAssetByMerchant"), "#frmAddAssetByMerchant")