<div class="row" style="margin-left: 30px">
    <h1>Assets for payment</h1>
    <div class="col-md-2">
        <a class="btn btn btn-success"
           onclick="ui.showDialog('@Url.Action("AddAssetPaymentDialog")');">
            Add
        </a>
    </div>
</div>
<hr />
<form id="frmAssetPayment">
    <div class="row">
    </div>
</form>
<div id="assetPaymentList"></div>
<script>
    $(function () {
        requests.doRequest({ url: '@Url.Action("AssetPaymentList")', formId: '#frmAssetPayment', divResult: '#assetPaymentList' });
    });
</script>