@using BackOffice.Models
@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.PaymentRequestPageViewModel

@{
    IEnumerable<ItemViewModel> merchantList = Model.Merchants.
        Select(m => new ItemViewModel { Id = m.Id, Title = m.Name }).ToArray();
}

@if (merchantList.Any())
{
    <div style="overflow: auto">
        <h1>Payment Requests</h1>
        <hr />
        <form id="frmPaymentRequests">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-lg">
                    @Html.RenderSelect2("Merchant:", "SelectedMerchant", merchantList, false, "Select merchant...")
                </div>
            </div>
        </form>
        <div id="paymentrequestsList"></div>
    </div>

    <script>
        $(function () {
            var $merchantSelect = $('#selectedMerchant');
            $merchantSelect.select2().on("change",
                function(e) {
                    requests.doRequest({
                        url: '@Url.Action("PaymentRequestsList")',
                        formId: '#frmPaymentRequests',
                        divResult: '#paymentrequestsList'
                    });
                });
            $('.select2-container--default').width(200);
            requests.doRequest({ url: '@Url.Action("PaymentRequestsList")', formId: '#frmPaymentRequests', divResult: '#paymentrequestsList' });
        });
    </script>
}
else
{
    <p>@Phrases.NoGroupsExist</p>
}