@using BackOffice.Helpers
@using BackOffice.Translates
@model BackOffice.Areas.Users.Models.UserDialogViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}

<form id="frmEnableUser">
    <input name="Id" value="@Model.Id" type="hidden" />

    <div style="width: 100%">
        @Phrases.EnableUserDialogText <b>@Model.Id</b>?
    </div>
</form>

@Html.RenderDeleteCancelButtonPair(Url.Action("EnableUser"), "#frmEnableUser", Phrases.Yes)

