@model BackOffice.Areas.LykkePay.Models.AddAssetPaymentDialogViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}

<form id="frmDeleteAssetPayment">

    <input style="display: none" name="Id" value="@Model.Id" />
    <h3>@Model.Id</h3>

</form>

@Html.RenderSaveCancelButtonPair(Url.Action("DeleteAssetPayment"), "#frmDeleteAssetPayment", "Confirm")
